.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 13vw;
  height: 15vh;
  border:2px,solid;
  border-color:black;
}
.row{
  display: block;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}
